.root {
    margin: 90px 70px;
    font-family: "Roboto", sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items:last baseline;
}
.header__logo {
    display: flex;
}
.header__text {
    font-size: 1.1rem;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}
.button {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #5222D0;
    color: white;
    border-radius: 90px;
    padding: 0.8rem;
    font-size: 0.8rem;
}
.main {
    margin-top: 4rem;
    padding-left: 40px;
}
.main__title {
    font-weight: bold;
    text-transform: uppercase;
}
.main__title_small {
    font-size: 1.8rem;
}
.main__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

}
.main__article {
    
}
.main__img {
    max-width: 365px;
    max-height: 270px;
}
.main__text {
    font-size: 1.25rem;
    font-weight: 200;
    line-height: 1.9rem;
}

.main__article_form{
    background-color: #ec615a;
    padding-left: 1.1rem;
    color: white;


}
.main__form {
    display: flex;
    width: 320px;
    height: 3rem;
    margin-bottom: 1rem;
}

.footer {
    margin-top: 4rem;
    padding-left: 40px;
}
.footer__list {
    display: flex;
    padding-inline-start: 0;

}
.footer__item {
    list-style: none;
    font-weight: 200;
    padding: 10px;
    padding-inline-start: 0;
}
.footer__link {
    text-decoration: none;
    color: black;
}